.authorIdentity {
    display: flex;
    margin: 0 16px 16px 0;
    padding: 16px;
    font-size: 16px;
    background: #ffffff;
    border-radius: 20px;

    .whoIAm {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .infosWrapper {
            display: flex;
            width: 100%;
        }

        .mainInfo {
            display: flex;
            box-sizing: border-box;
            width: 50%;
            margin-bottom: 8px;
        }

        .title {
            width: 50%;
            padding-top: 36px;
        }

        .avatar {
            display: flex;
            align-items: center;
            height: 60px;
            width: 60px;
            border-radius: 30px;
        }

        .affiliation {
            margin-left: 16px;
            margin-bottom: 8px;
        }

        .line {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: 4px;
        }

        .people {
            padding: 0;
            margin: 0 0 8px;
            font-weight: 700;
            font-size: 20px;
            text-decoration-line: underline;
            color: #3162ff;
        }

        .bold {
            display: inline-block;
            width: 100px;
            font-weight: 700;
        }

        .info {
            display: inline-block;
            width: calc(100% - 112px);
        }

        .keywordsTitle {
            margin-left: 76px;
            font-weight: 700;
        }

        .keywords {
            display: flex;
            justify-content: flex-start;
            padding: 8px 0 0 120px;
        
            .listKeywords {
                margin-right: 32px;
                list-style: none;
            }
        }
    }







    .avatarContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 16px;

        .avatar {
            height: 56px;
            border-radius: 8px;
        }

        .authorName {
            padding-left: 8px;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #070721;
            text-transform: capitalize;
        }

        .authorName+.infosItem {
            margin-left: 8px;
            color: #8e8c99;
        }
    }

    .infos {
        .infosItem {
            margin-bottom: 8px;

            ul {
                margin-top: 24px;
            }

            &.titleField {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-height: initial;
            }
        }

        .bold {
            font-weight: 700;
        }

        .keywordsItem {
            margin: 4px 8px;
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 1024px) {

    .authorCard {
        .infos {
            .keywordsItem {
                font-size: 16px;
            }
        }
    }

}