.potentialConnectionsBlock {
    display: flex;
    flex-direction: column;    
    padding: 16px;
    margin: 0 0 16px;
    background: #ffffff;
    border-radius: 20px;

    .titleBlock {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 0 16px 0;
        line-height: 28px;
        font-weight: bold;
        font-size: 22px;
        color: #070721;
        text-transform: capitalize;

        .viewAll {
            font-size: 14px;
            color: #3162ff;
            font-weight: normal;
            text-transform: lowercase;
            cursor: pointer;
        }
    }

    .potentialConnectionsList {
        .potentialConnectionWrapper {
            display: flex;
            align-items: center;
            position: relative;
            margin: 8px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .avatar {
            height: 48px;
            border-radius: 16px;
        }

        .txtInfos {
            color: #8e8c99;
            margin: 0 8px;
            width: calc(100% - 96px);
        }

        .name {
            margin-left: 8px;
            margin-bottom: 0;
            line-height: 18px;
            font-weight: 500;
            font-size: 15px;
            color: #070721;
            text-transform: capitalize;
        }

        .follow {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 8px;
            width: 96px;
            height: 18px;
            font-size: 14px;
            text-decoration: none;
            color: white;
            border-radius: 12px;
            background-color: #3162ff;
        }
    }
}