/* Reset */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 100%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/background-site.png");
  background-size: cover;
}
.mainWrapper {
  padding: 16px;
}
.mainWrapper .main {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .mainWrapper .main {
    width: calc(100% - 320px);
  }
}
.mainWrapper .main .pageTitle {
  padding: 8px 0;
  font-size: 24px;
}
.mainWrapper .main .secondContent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
@media screen and (min-width: 1024px) {
  .mainWrapper .main .secondContent {
    margin-top: 16px;
  }
}
.mainWrapper .main .secondContent section {
  width: 100%;
}
@media screen and (min-width: 640px) {
  .mainWrapper .main .secondContent section {
    width: calc(50% - 8px);
  }
}
.mainWrapper .main .secondContent section:first-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 640px) {
  .mainWrapper .main .secondContent section:first-child {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
.mainWrapper .side {
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
}
@media screen and (min-width: 1024px) {
  .mainWrapper .side {
    width: 360px;
    padding-top: 26px;
    padding-left: 16px;
    margin-top: 0;
  }
}
/* Scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #c1d5f9), color-stop(0.72, #86b1f7), color-stop(0.86, #699bf7));
}
.headerSite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}
@media screen and (min-width: 1024px) {
  .headerSite {
    justify-content: flex-end;
  }
}
.headerSite .linkToHome {
  margin-right: 8px;
}
.headerSite .linkToHome .logo {
  top: 16px;
  right: 27px;
  height: 40px;
}
@media screen and (min-width: 1024px) {
  .headerSite .linkToHome .logo {
    position: absolute;
    left: 8px;
    height: 64px;
  }
}
.headerSite .searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 20px;
}
.headerSite .searchContainer .searchIcon {
  height: 24px;
  width: 24px;
}
.headerSite .searchContainer .labelSearch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.headerSite .searchContainer .searchInput {
  width: 124px;
  padding: 4px;
  margin-left: 8px;
  border: none;
}
.headerSite .notification {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.headerSite .avatar {
  display: flex;
  align-items: center;
}
.headerSite .avatar .avatarImage {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 40px;
}
.connectionsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 776px;
  padding: 16px;
  padding-right: 8px;
  margin: 34px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
.connectionsBlock .titleBlock {
  position: absolute;
  display: flex;
  top: -45px;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.connectionsBlock .titleBlock .viewAll {
  padding-right: 16px;
  font-size: 14px;
  color: #5786FF;
  font-weight: normal;
  text-transform: lowercase;
  cursor: pointer;
}
.connectionsBlock .messagesList .messageContainer {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 8px 0 16px;
}
.connectionsBlock .messagesList .messageContainer::last-child {
  margin-bottom: 8px;
}
.connectionsBlock .messagesList .avatar {
  height: 48px;
  border-radius: 16px;
}
.connectionsBlock .messagesList .txtInfos {
  margin: 0 8px;
  width: calc(100% - 100px);
}
.connectionsBlock .messagesList .name {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #070721;
  text-transform: capitalize;
}
.connectionsBlock .messagesList .newsMessage {
  color: #5786FF;
}
.connectionsBlock .messagesList .mainField {
  font-size: 14px;
  color: #8e8c99;
}
.connectionsBlock .messagesList .titleField {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 16px;
  margin-top: 4px;
  font-size: 14px;
  color: #8e8c99;
}
.connectionsBlock .messagesList .iconMsg {
  width: 24px;
}
.connectionsBlock .messagesList .time {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #8e8c99;
}
.connectionsBlock .messagesList .time::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #44cd45;
}
@media screen and (min-width: 1024px) {
  .connectionsBlock .messagesList {
    overflow-y: auto;
    height: 100%;
    padding-right: 8px;
  }
  .connectionsBlock .messagesList .name {
    font-size: 16px;
  }
  .connectionsBlock .messagesList .avatar {
    height: 60px;
  }
}
.potentialConnectionsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 64px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  .potentialConnectionsBlock {
    height: 456px;
    padding-right: 8px;
  }
}
.potentialConnectionsBlock .titleBlock {
  position: absolute;
  top: -36px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.potentialConnectionsBlock .titleBlock .viewAll {
  padding-right: 16px;
  font-size: 14px;
  color: #5786FF;
  font-weight: normal;
  text-transform: lowercase;
  cursor: pointer;
}
.potentialConnectionsBlock .potentialConnectionsList {
  overflow-y: auto;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .potentialConnectionsBlock .potentialConnectionsList {
    padding-right: 8px;
  }
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 8px 0 16px;
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper:last-child {
  margin-bottom: 0;
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper .flexContainer {
  width: calc(100% - 130px);
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper .flexContainer .txtInfos {
  color: #8e8c99;
  margin: 0 8px;
}
.potentialConnectionsBlock .potentialConnectionsList .avatar {
  height: 48px;
  border-radius: 16px;
}
.potentialConnectionsBlock .potentialConnectionsList .txtInfos {
  margin: 0 8px 4px;
  font-size: 14px;
  color: #8e8c99;
}
.potentialConnectionsBlock .potentialConnectionsList .name {
  margin-left: 8px;
  margin-bottom: 0;
  line-height: 18px;
  font-weight: 700;
  font-size: 15px;
  color: #070721;
  text-transform: capitalize;
}
.potentialConnectionsBlock .potentialConnectionsList .follow {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  width: 70px;
  height: 18px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  background-color: #5786FF;
}
.potentialConnectionsBlock .potentialConnectionsList .followIcon {
  width: 20px;
}
.headerNewsFeed {
  position: relative;
}
.headerNewsFeed .choiceContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin: 0 auto;
}
.headerNewsFeed .choiceContainer .bubbleContainer,
.headerNewsFeed .choiceContainer .time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0 10px;
  width: 100px;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 25px;
}
@media screen and (min-width: 1024px) {
  .headerNewsFeed .choiceContainer .bubbleContainer {
    width: 112px;
    font-size: 16px;
  }
}
.headerNewsFeed .choiceContainer .bubbleContainer.press {
  border-right: none;
}
.headerNewsFeed .choiceContainer .bubbleContainer.all.active .time {
  z-index: 3;
}
.headerNewsFeed .choiceContainer .bubbleContainer .selectIcon {
  margin: 2px;
  padding: 2px;
  height: 20px;
  width: auto;
  background: #ffff;
}
.headerNewsFeed .choiceContainer .bubbleContainer .selectWording,
.headerNewsFeed .choiceContainer .bubbleContainer .titleAll {
  padding: 0 6px;
}
.headerNewsFeed .choiceContainer .bubbleContainer.active {
  background-color: #5786FF;
  color: #ffff;
}
.headerNewsFeed .choiceContainer .bubbleContainer.active .time {
  display: flex;
}
.headerNewsFeed .choiceContainer .bubbleContainer.active .selectDate {
  color: #5786FF;
  background-color: #fff;
}
.headerNewsFeed .choiceContainer .bubbleContainer.active .selectIcon {
  color: #ffff;
  background-color: #5786FF;
}
.headerNewsFeed .choiceContainer .time {
  display: none;
  position: absolute;
  z-index: 2;
  top: 64px;
  right: 50%;
  width: 300px;
  height: 28px;
  margin-right: -150px;
  border-right: none;
  border-radius: 40px;
}
@media (min-width: 600px) {
  .headerNewsFeed .choiceContainer .time {
    right: 0;
    top: 0;
    width: 100px;
    margin-right: inherit;
  }
}
.headerNewsFeed .choiceContainer .time .selectDate {
  margin: 2px;
  padding: 2px;
  height: 28px;
  width: auto;
  background: #ffff;
}
.headerNewsFeed .choiceContainer .time .list {
  position: relative;
}
.headerNewsFeed .choiceContainer .time .listDates {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -20px;
  top: 15px;
  width: 50px;
  padding: 10px;
  color: #5786FF;
  list-style: none;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.headerNewsFeed .choiceContainer .time.active .listDates {
  display: flex;
}
.headerNewsFeed .choiceContainer .time.active .listDates .dateOption {
  margin-top: 8px;
}
.headerNewsFeed .choiceContainer .time.active .listDates .dateOption::last-of-type {
  margin-bottom: 8px;
}
.headerNewsFeed .choiceContainer .time.active .listDates .dateOption::hover {
  color: #5786FF;
}
.newsfeed {
  display: none;
  margin: 16px 0 32px;
}
.newsfeed.active {
  display: block;
}
.newsfeed .slider {
  position: relative;
  padding: 0 10px;
  margin: 0;
}
.newsfeed .slider .arrow {
  position: absolute;
  left: 0;
  top: 325px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-image: url("../img/slider-arrow.png");
  background-size: contain;
  cursor: pointer;
}
.newsfeed .slider .arrow.right {
  position: absolute;
  left: inherit;
  right: 0;
  transform: rotate(180deg);
}
@media screen and (min-width: 1024px) {
  .newsfeed .slider .arrow.right {
    right: 0;
  }
}
.newsfeed .slider .arrow.right.slick-disabled {
  background-image: url("../img/slider-arrow-disabled.png");
}
.newsfeed .slider .arrow.slick-disabled {
  background-image: url("../img/slider-arrow-disabled.png");
  cursor: default;
}
.newsfeed .slider .slick-slide {
  margin: 0 8px;
}
.newsfeed .slider .backgroundIframe {
  position: relative;
  margin-bottom: -16px;
  height: 300px;
  padding: 8px;
  padding-bottom: 30px;
  background-image: url(../img/rectangle.png);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.newsfeed .slider .backgroundIframe .iframeContainer {
  height: 315px;
}
.newsfeed .slider .backgroundIframe .titleIframe {
  padding: 8px 16px 0 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: initial;
}
.newsfeed .slider .backgroundIframe .newsFeedThumb {
  position: relative;
  width: 100%;
  height: 95%;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.cardContainer {
  position: relative;
  height: auto;
}
.cardContainer .bubble {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 20px;
  padding: 5px;
}
.authorCard {
  height: 414px;
  padding: 8px 16px 32px;
  background-color: #ffff;
  border-radius: 0 0 16px 16px;
}
.authorCard .avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.authorCard .avatarContainer .avatar {
  height: 56px;
  border-radius: 8px;
}
.authorCard .avatarContainer .authorName {
  padding-left: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #070721;
  text-transform: capitalize;
}
.authorCard .avatarContainer .authorName + .infosItem {
  margin-left: 8px;
  color: #8e8c99;
}
.authorCard .infos .infosItem.titleField {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: initial;
  margin-bottom: 9px;
}
.authorCard .infos .infosItem.titleIframe {
  font-weight: 700;
  margin-top: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: initial;
  margin-bottom: 9px;
}
.authorCard .infos .titleWording {
  margin-right: 8px;
  font-weight: 700;
}
.authorCard .infos .bold {
  font-weight: 700;
}
.authorCard .infos .keywordsTitle {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 700;
}
.authorCard .infos .keywordsList {
  display: flex;
  flex-wrap: wrap;
}
.authorCard .infos .keywordsItem {
  display: -webkit-box;
  box-sizing: border-box;
  width: 50%;
  padding: 4px 8px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: initial;
  height: 26px;
}
@media screen and (min-width: 1024px) {
  .authorCard .infos .keywordsItem {
    font-size: 16px;
  }
}
.newsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 30px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
.newsBlock .titleBlock {
  position: absolute;
  display: flex;
  top: -37px;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.newsBlock .titleBlock .viewAll {
  padding-right: 16px;
  font-size: 14px;
  color: #5786FF;
  font-weight: normal;
  text-transform: lowercase;
  cursor: pointer;
}
.newsBlock .newsList .newsWrapper {
  display: flex;
  position: relative;
  margin: 8px 0;
}
.newsBlock .newsList .newsWrapper:last-child {
  margin-bottom: 0;
}
.newsBlock .newsList .avatar {
  height: 48px;
  border-radius: 16px;
}
.newsBlock .newsList .txtInfos {
  color: #8e8c99;
  margin: 0 8px;
  width: calc(100% - 96px);
}
.newsBlock .newsList .txtInfos :last-of-type {
  margin: 25px 0;
}
.newsBlock .newsList .name {
  margin-bottom: 4px;
  line-height: 18px;
  font-weight: bold;
  font-size: 15px;
  color: #070721;
  text-transform: capitalize;
}
.newsBlock .newsList .previewMessage {
  background: #5686ff;
  color: white;
  padding: 8px;
  border-radius: 13px;
}
.newsBlock .newsList .mainField {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: initial;
}
.newsBlock .newsList .iframeContainer {
  height: 150px;
}
.newsBlock .newsList .newsFeedThumb {
  height: 150px;
  background-size: cover;
}
.newsBlock .newsList .newsMessage {
  text-align: center;
  color: #5786FF;
}
.newsBlock .newsList .message {
  position: absolute;
  right: 16px;
  top: 20px;
}
.newsBlock .newsList .message::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #44cd45;
}
@media screen and (min-width: 1024px) {
  .newsBlock {
    height: 456px;
    padding-right: 8px;
  }
  .newsBlock .newsList {
    overflow-y: auto;
    height: 100%;
    padding-right: 8px;
  }
  .newsBlock .newsList .newsWrapper {
    margin-bottom: 16px;
  }
  .newsBlock .newsList .name {
    font-size: 16px;
  }
  .newsBlock .newsList .avatar {
    height: 60px;
  }
}
.ranking {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 30px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  .ranking {
    height: 456px;
  }
}
.ranking .titleBlock {
  position: absolute;
  top: -36px;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.ranking .selectContainer {
  display: flex;
  justify-content: space-around;
  margin: 8px 0;
  /* Ranking Choice Container */
}
.ranking .selectContainer .rankingChoiceContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 18px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 8px 0;
  width: 100px;
  max-width: 24%;
  font-size: 14px;
  color: #000000;
  background-color: #edf2fb;
  border-right: #070721 solid 1px;
  cursor: pointer;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer img {
  height: 25px;
  width: auto;
  background: #edf2fb;
  margin: 2px;
  padding: 2px;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer .wording {
  display: none;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer.press {
  border-right: none;
  border-radius: 0px 40px 40px 0px;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer.all {
  border-radius: 40px 0px 0px 40px;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer.active {
  background-color: #5786FF;
  color: #ffff;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer.active img {
  background-color: #5786FF;
}
.ranking .chart {
  display: none;
}
.ranking .chart.active {
  display: block;
}
.ranking .chart .metric {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: lightblue;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border-radius: 20px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.175);
}
.ranking .chart .theOne {
  background: linear-gradient(141deg, #edaef9 0%, #81b1fa 74%, #2cb5e8 85%);
}
.ranking .chart .metric-value {
  font-weight: bold;
}
.ranking .chart-horizontal {
  width: 100%;
  padding-right: 8px;
  overflow-y: auto;
}
.ranking .chart-horizontal .metric {
  margin-bottom: 3px;
  min-width: 100px;
  padding: 6px 15px;
}
.ranking .chart-horizontal .metric-value {
  float: right;
  font-weight: bold;
}
