/* Reset */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 100%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/background-site.png");
  background-size: cover;
}
.mainWrapper {
  padding: 16px;
}
@media screen and (min-width: 1024px) {
  .mainWrapper .main {
    width: calc(100% - 320px);
  }
}
.mainWrapper .main .pageTitle {
  padding: 8px 0;
  font-size: 24px;
}
.mainWrapper .main .secondContent {
  margin-top: 16px;
}
.mainWrapper .main .secondContent section {
  width: calc(50% - 8px);
}
.mainWrapper .main .secondContent section:first-child {
  margin-right: 16px;
}
.mainWrapper .side {
  width: 360px;
  padding-left: 16px;
}
/* Scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #c1d5f9), color-stop(0.72, #86b1f7), color-stop(0.86, #699bf7));
}
.headerSite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}
@media screen and (min-width: 1024px) {
  .headerSite {
    justify-content: flex-end;
  }
}
.headerSite .linkToHome {
  margin-right: 8px;
}
.headerSite .linkToHome .logo {
  top: 16px;
  right: 27px;
  height: 40px;
}
@media screen and (min-width: 1024px) {
  .headerSite .linkToHome .logo {
    position: absolute;
    left: 8px;
    height: 64px;
  }
}
.headerSite .searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 20px;
}
.headerSite .searchContainer .searchIcon {
  height: 24px;
  width: 24px;
}
.headerSite .searchContainer .labelSearch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.headerSite .searchContainer .searchInput {
  width: 124px;
  padding: 4px;
  margin-left: 8px;
  border: none;
}
.headerSite .notification {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.headerSite .avatar {
  display: flex;
  align-items: center;
}
.headerSite .avatar .avatarImage {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 40px;
}
.connectionsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 30px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
.connectionsBlock .titleBlock {
  position: absolute;
  display: flex;
  top: -37px;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.connectionsBlock .titleBlock .viewAll {
  font-size: 14px;
  color: #3162ff;
  font-weight: normal;
  text-transform: lowercase;
  cursor: pointer;
}
.connectionsBlock .connectionsList .connectionWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 8px 0;
}
.connectionsBlock .connectionsList .connectionWrapper:last-child {
  margin-bottom: 0;
}
.connectionsBlock .connectionsList .avatar {
  height: 48px;
  border-radius: 16px;
}
.connectionsBlock .connectionsList .txtInfos {
  color: #8e8c99;
  margin: 0 8px;
  width: calc(100% - 96px);
}
.connectionsBlock .connectionsList .txtInfos :last-of-type {
  margin-top: 8px;
  color: #070721;
}
.connectionsBlock .connectionsList .name {
  margin-bottom: 4px;
  line-height: 18px;
  font-weight: bold;
  font-size: 15px;
  color: #070721;
  text-transform: capitalize;
}
.connectionsBlock .connectionsList .newsMessage {
  color: #3162ff;
}
.connectionsBlock .connectionsList .mainField {
  margin-top: 4px;
  line-height: 16px;
  font-size: 12px;
}
.connectionsBlock .connectionsList .time {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #8e8c99;
}
.connectionsBlock .connectionsList .time::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #44cd45;
}
@media screen and (min-width: 1024px) {
  .connectionsBlock .connectionsList .connectionWrapper {
    margin-bottom: 18px;
  }
  .connectionsBlock .connectionsList .name {
    font-size: 16px;
  }
  .connectionsBlock .connectionsList .avatar {
    height: 60px;
  }
}
.potentialConnectionsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 60px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
.potentialConnectionsBlock .titleBlock {
  position: absolute;
  top: -36px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.potentialConnectionsBlock .titleBlock .viewAll {
  font-size: 14px;
  color: #3162ff;
  font-weight: normal;
  text-transform: lowercase;
  cursor: pointer;
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 8px 0;
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper:last-child {
  margin-bottom: 0;
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper .flexContainer {
  width: calc(100% - 130px);
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper .flexContainer .txtInfos {
  color: #8e8c99;
  margin: 0 8px;
}
.potentialConnectionsBlock .potentialConnectionsList .avatar {
  height: 48px;
  border-radius: 16px;
}
.potentialConnectionsBlock .potentialConnectionsList .txtInfos {
  color: #8e8c99;
  margin: 0 8px;
}
.potentialConnectionsBlock .potentialConnectionsList .name {
  margin-left: 8px;
  margin-bottom: 0;
  line-height: 18px;
  font-weight: 700;
  font-size: 15px;
  color: #070721;
  text-transform: capitalize;
}
.potentialConnectionsBlock .potentialConnectionsList .follow {
  position: absolute;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  width: 70px;
  height: 18px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  background-color: #3162ff;
}
.authorCard {
  height: 414px;
  padding: 9px 18px 32px;
  background-color: #ffff;
  border-radius: 0 0 16px 16px;
}
.authorCard .avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.authorCard .avatarContainer .avatar {
  height: 56px;
  border-radius: 8px;
}
.authorCard .avatarContainer .authorName {
  padding-left: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #070721;
  text-transform: capitalize;
}
.authorCard .avatarContainer .authorName + .infosItem {
  margin-left: 9px;
  color: #8E8C99;
}
.authorCard .infos .infosItem {
  margin-bottom: 9px;
}
.authorCard .infos .infosItem ul {
  margin-top: 27px;
}
.authorCard .infos .bold {
  font-weight: 700;
}
.authorCard .infos .keywordsItem {
  margin: 4px 8px;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .authorCard .infos .keywordsItem {
    font-size: 16px;
  }
}
.ranking {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 30px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
.ranking .titleBlock {
  position: absolute;
  top: -36px;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.ranking .selectContainer {
  display: flex;
  justify-content: space-around;
  margin: 8px 0;
  /* RAnking Choice Container */
}
.ranking .selectContainer .rankingChoiceContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 18px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 8px 0;
  width: 100px;
  font-size: 14px;
  color: #000000;
  background-color: #edf2fb;
  border-right: #070721 solid 1px;
  cursor: pointer;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer img {
  height: 20px;
  width: auto;
  background: #edf2fb;
  margin: 2px;
  padding: 2px;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer.press {
  border-right: none;
  border-radius: 0px 40px 40px 0px;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer.all {
  border-radius: 40px 0px 0px 40px;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer.active {
  background-color: #3162FF;
  color: #ffff;
}
.ranking .selectContainer .rankingChoiceContainer .rankingBubbleContainer.active img {
  background-color: #3162FF;
}
.ranking .chart {
  display: none;
}
.ranking .chart.active {
  display: block;
}
.ranking .chart .metric {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: lightblue;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border-radius: 20px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.175);
}
.ranking .chart .theOne {
  background: linear-gradient(141deg, #edaef9 0%, #81b1fa 74%, #2cb5e8 85%);
}
.ranking .chart .metric-value {
  font-weight: bold;
}
.ranking .chart-horizontal {
  width: 100%;
}
.ranking .chart-horizontal .metric {
  margin-bottom: 3px;
  min-width: 100px;
  padding: 6px 15px;
}
.ranking .chart-horizontal .metric-value {
  float: right;
  font-weight: bold;
}
.chatsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  margin: 30px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
.chatsBlock .titleBlock {
  position: absolute;
  top: -36px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.chatsBlock .txtInfos {
  width: calc(100% - 125px);
  color: #8E8C99;
}
