/* Reset */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 100%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/background-site.png");
  background-size: cover;
}
.mainWrapper {
  padding: 16px;
}
.mainWrapper .main {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .mainWrapper .main {
    width: calc(100% - 360px);
  }
}
.mainWrapper .main .pageTitle {
  padding: 8px 0;
  font-size: 24px;
}
.mainWrapper .main .secondContent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
@media screen and (min-width: 1024px) {
  .mainWrapper .main .secondContent {
    margin-top: 16px;
    margin-left: 9px;
  }
}
.mainWrapper .main .secondContent section {
  width: 100%;
}
@media screen and (min-width: 640px) {
  .mainWrapper .main .secondContent section {
    width: calc(50% - 8px);
  }
}
.mainWrapper .main .secondContent section:first-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 640px) {
  .mainWrapper .main .secondContent section:first-child {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
.mainWrapper .side {
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
}
@media screen and (min-width: 1024px) {
  .mainWrapper .side {
    width: 360px;
    padding-top: 26px;
    padding-left: 16px;
    margin-top: 0;
  }
}
/* Scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #c1d5f9), color-stop(0.72, #86b1f7), color-stop(0.86, #699bf7));
}
.headerSite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}
@media screen and (min-width: 1024px) {
  .headerSite {
    justify-content: flex-end;
  }
}
.headerSite .linkToHome {
  margin-right: 8px;
}
.headerSite .linkToHome .logo {
  top: 16px;
  right: 27px;
  height: 40px;
}
@media screen and (min-width: 1024px) {
  .headerSite .linkToHome .logo {
    position: absolute;
    left: 16px;
    height: 64px;
  }
}
.headerSite .searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 20px;
}
.headerSite .searchContainer .searchIcon {
  height: 24px;
  width: 24px;
}
.headerSite .searchContainer .labelSearch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.headerSite .searchContainer .searchInput {
  width: 124px;
  padding: 4px;
  margin-left: 8px;
  border: none;
}
.headerSite .notification {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.headerSite .avatar {
  display: flex;
  align-items: center;
}
.headerSite .avatar .avatarImage {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 40px;
}
.connectionsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 776px;
  padding: 16px;
  padding-right: 8px;
  margin: 34px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
.connectionsBlock .titleBlock {
  position: absolute;
  display: flex;
  top: -45px;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.connectionsBlock .titleBlock .viewAll {
  padding-right: 16px;
  font-size: 14px;
  color: #5786FF;
  font-weight: normal;
  text-transform: lowercase;
  cursor: pointer;
}
.connectionsBlock .messagesList .messageContainer {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 8px 0 16px;
}
.connectionsBlock .messagesList .messageContainer::last-child {
  margin-bottom: 8px;
}
.connectionsBlock .messagesList .avatar {
  height: 48px;
  border-radius: 16px;
}
.connectionsBlock .messagesList .txtInfos {
  margin: 0 8px;
  width: calc(100% - 100px);
}
.connectionsBlock .messagesList .name {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #070721;
  text-transform: capitalize;
}
.connectionsBlock .messagesList .newsMessage {
  color: #5786FF;
}
.connectionsBlock .messagesList .mainField {
  font-size: 14px;
  color: #8e8c99;
}
.connectionsBlock .messagesList .titleField {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 16px;
  margin-top: 4px;
  font-size: 14px;
  color: #8e8c99;
}
.connectionsBlock .messagesList .iconMsg {
  width: 24px;
}
.connectionsBlock .messagesList .time {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #8e8c99;
}
.connectionsBlock .messagesList .time::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #44cd45;
}
@media screen and (min-width: 1024px) {
  .connectionsBlock .messagesList {
    overflow-y: auto;
    height: 100%;
    padding-right: 8px;
  }
  .connectionsBlock .messagesList .name {
    font-size: 16px;
  }
  .connectionsBlock .messagesList .avatar {
    height: 60px;
  }
}
.potentialConnectionsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 64px 0 16px 0;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  .potentialConnectionsBlock {
    height: 456px;
    padding-right: 8px;
  }
}
.potentialConnectionsBlock .titleBlock {
  position: absolute;
  top: -36px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 16px 0;
  line-height: 28px;
  font-weight: bold;
  font-size: 24px;
  color: #070721;
  text-transform: capitalize;
}
.potentialConnectionsBlock .titleBlock .viewAll {
  padding-right: 16px;
  font-size: 14px;
  color: #5786FF;
  font-weight: normal;
  text-transform: lowercase;
  cursor: pointer;
}
.potentialConnectionsBlock .potentialConnectionsList {
  overflow-y: auto;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .potentialConnectionsBlock .potentialConnectionsList {
    padding-right: 8px;
  }
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 8px 0 16px;
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper:last-child {
  margin-bottom: 0;
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper .flexContainer {
  width: calc(100% - 130px);
}
.potentialConnectionsBlock .potentialConnectionsList .potentialConnectionWrapper .flexContainer .txtInfos {
  color: #8e8c99;
  margin: 0 8px;
}
.potentialConnectionsBlock .potentialConnectionsList .avatar {
  height: 48px;
  border-radius: 16px;
}
.potentialConnectionsBlock .potentialConnectionsList .txtInfos {
  margin: 0 8px 4px;
  font-size: 14px;
  color: #8e8c99;
}
.potentialConnectionsBlock .potentialConnectionsList .name {
  margin-left: 8px;
  margin-bottom: 0;
  line-height: 18px;
  font-weight: 700;
  font-size: 15px;
  color: #070721;
  text-transform: capitalize;
}
.potentialConnectionsBlock .potentialConnectionsList .follow {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  width: 70px;
  height: 18px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  background-color: #5786FF;
}
.potentialConnectionsBlock .potentialConnectionsList .followIcon {
  width: 20px;
}
.authorIdentity {
  display: flex;
  margin: 60px 0 16px 0;
  padding: 16px;
  font-size: 16px;
  background: #ffffff;
  border-radius: 20px;
}
@media screen and (min-width: 1366px) {
  .authorIdentity {
    margin: 60px 16px 16px 0;
  }
}
.authorIdentity .whoIAm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.authorIdentity .whoIAm .infosWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.authorIdentity .whoIAm .mainInfo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 8px;
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .mainInfo {
    flex-direction: row;
    width: 50%;
  }
}
.authorIdentity .whoIAm .title {
  width: 100%;
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .title {
    width: 50%;
    padding-top: 36px;
  }
}
.authorIdentity .whoIAm .avatar {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  margin: auto;
  border-radius: 30px;
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .avatar {
    margin: inherit;
  }
}
.authorIdentity .whoIAm .affiliation {
  margin-left: 0;
  margin-bottom: 8px;
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .affiliation {
    margin-left: 16px;
  }
}
.authorIdentity .whoIAm .line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 9px;
}
.authorIdentity .whoIAm .line .ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
.authorIdentity .whoIAm .people {
  padding: 0;
  margin: 0 0 8px;
  line-height: 28px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #5786FF;
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .people {
    text-align: left;
  }
}
.authorIdentity .whoIAm .bold {
  display: inline-block;
  width: 100%;
  margin-right: 5px;
  font-weight: 700;
}
@media screen and (min-width: 640px) {
  .authorIdentity .whoIAm .bold {
    width: 100px;
  }
}
.authorIdentity .whoIAm .info {
  display: inline-block;
  width: calc(100% - 32px);
  margin: 4px 0 8px;
}
@media screen and (min-width: 640px) {
  .authorIdentity .whoIAm .info {
    width: calc(100% - 112px);
    margin: 0;
  }
}
.authorIdentity .whoIAm .sideAuthor {
  margin-top: 8px;
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .sideAuthor {
    margin-top: 0;
  }
}
.authorIdentity .whoIAm .keywordsTitle {
  margin-left: 0;
  font-weight: 700;
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .keywordsTitle {
    margin-left: 76px;
  }
}
.authorIdentity .whoIAm .keywords {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 16px 0 0 24px;
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .keywords {
    padding: 16px 0 0 77px;
  }
}
.authorIdentity .whoIAm .keywords .listKeywords {
  width: 100%;
  margin-right: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.authorIdentity .whoIAm .keywords .listKeywords li {
  margin-bottom: 9px;
  display: -webkit-box;
  box-sizing: border-box;
  width: 100%;
  padding: 4px 8px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: initial;
  height: 19px;
}
@media screen and (min-width: 480px) {
  .authorIdentity .whoIAm .keywords .listKeywords li {
    width: 50%;
  }
}
@media screen and (min-width: 640px) {
  .authorIdentity .whoIAm .keywords .listKeywords li {
    width: 33%;
  }
}
@media screen and (min-width: 840px) {
  .authorIdentity .whoIAm .keywords .listKeywords li {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .authorIdentity .whoIAm .keywords .listKeywords li {
    width: 20%;
  }
}
@media screen and (min-width: 1366px) {
  .authorIdentity .whoIAm .keywords .listKeywords {
    width: inherit;
    margin-right: 32px;
  }
}
.authorIdentity .avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.authorIdentity .avatarContainer .avatar {
  height: 56px;
  border-radius: 8px;
}
.authorIdentity .avatarContainer .authorName {
  padding-left: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #070721;
  text-transform: capitalize;
}
.authorIdentity .avatarContainer .authorName + .infosItem {
  margin-left: 8px;
  color: #8e8c99;
}
.authorIdentity .infos .infosItem {
  margin-bottom: 8px;
}
.authorIdentity .infos .infosItem ul {
  margin-top: 24px;
}
.authorIdentity .infos .infosItem.titleField {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: initial;
}
.authorIdentity .infos .bold {
  font-weight: 700;
}
.authorIdentity .infos .keywordsItem {
  margin: 4px 8px;
  font-size: 14px;
}
@media screen and (min-width: 1366px) {
  .authorCard .infos .keywordsItem {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .containerListsArticles {
    display: flex;
  }
}
.containerListsArticles .papers,
.containerListsArticles .talks,
.containerListsArticles .press {
  height: 660px;
}
@media (min-width: 1024px) {
  .containerListsArticles .papers,
  .containerListsArticles .talks,
  .containerListsArticles .press {
    margin-right: 16px;
  }
}
.containerListsArticles .papers:last-child,
.containerListsArticles .talks:last-child,
.containerListsArticles .press:last-child {
  margin-right: 0;
}
@media (min-width: 1366px) {
  .containerListsArticles .papers:last-child,
  .containerListsArticles .talks:last-child,
  .containerListsArticles .press:last-child {
    margin-right: 16px;
  }
}
.containerListsArticles .mediaContainer {
  width: 100%;
  background: white;
  border-radius: 20px;
}
.containerListsArticles .mediaContainer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerListsArticles .mediaContainer > div {
  padding-top: 8px;
}
.containerListsArticles .mediaContainer .bubbleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px 16px;
}
.containerListsArticles .mediaContainer .bubbleContainer img {
  height: 20px;
}
.containerListsArticles .mediaContainer .bubbleContainer span {
  padding: 0 8px;
  font-weight: bolder;
}
.containerListsArticles .mediaContainer li {
  margin: 0 16px;
  text-transform: capitalize;
  padding: 5px 0;
}
.containerListsArticles .mediaContainer .year {
  margin: 0;
  color: #5786FF;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}
.containerListsArticles .mediaContainer .listArticlesByYears {
  flex-direction: column;
  overflow: auto;
  height: 600px;
  justify-content: start;
}
.containerListsArticles .mediaContainer .listArticlesByYears li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.containerListsArticles .mediaContainer .listArticlesByYears .icon {
  height: 12px;
  width: auto;
  padding-right: 6px;
}
.containerListsArticles .mediaContainer .listArticlesByYear {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 8px 16px 16px;
  width: 85%;
}
