.authorCard {
    height: 414px;
    padding: 9px 18px 32px;
    background-color: #ffff;
    border-radius: 0 0 16px 16px;

    .avatarContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 16px;

        .avatar {
            height: 56px;
            border-radius: 8px;
        }

        .authorName {
            padding-top: 16px;
            padding-left: 9px;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #070721;
            text-transform: capitalize;
        }
    }

    .infos {
        .infosItem {
            margin-bottom: 18px;
        }

        .bold {
            font-weight: 700;
        }

        .keywordsItem {
            margin: 4px 8px;
            font-size: 14px;
            list-style: none;
        }
    }
}