.authorCard {
    padding: 0 16px 32px;
    background-color: #ffff;
    border-radius: 0 16px;

    .avatarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;

        .avatar {
            height: 56px;
            border-radius: 8px;
        }

        .authorName {
            padding-top: 16px;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #070721;
            text-transform: capitalize;
        }
    }

    .infos {
        color: #8e8c99;

        .infosItem {
            margin-bottom: 16px;
        }

        .bold {
            font-weight: 700;
        }

        .keywordsItem {
            margin: 4px 8px;
            font-size: 14px;
            list-style: none;
        }
    }
}