.newsfeed {
    display: none;
    margin: 16px 0 32px;

    &.active {
        display: block;
    }

    .slider{
        position: relative;
        padding: 0 10px;
        margin: 0;

        .arrow {
            position: absolute;
            left: 0;
            top: 325px;
            z-index: 1;
            width: 40px;
            height: 40px;
            background-image: url("../img/slider-arrow.png");
            background-size: contain;
            cursor: pointer;

            &.right {
                position: absolute;
                left: inherit;
                right: 0;

                @media screen and (min-width: 1024px) {
                    right: 0;
                }

                &.slick-disabled {
                    background-image: url("../img/slider-arrow-disabled.png");
                }
            }

            &.slick-disabled {
                background-image: url("../img/slider-arrow-disabled.png");
                cursor: default;
            }
        }
          
        .slick-slide {
            margin: 0 8px;
        }
    }
}