.headerNewsFeed {
    position: relative;

    .choiceContainer {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin: 0 auto;

        .bubbleContainer,
        .time {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            padding: 8px 0;
            width: 100px;
            font-size: 14px;
            color: #000000;
            background-color: #ffffff;
            border-right: #070721 solid 1px;
            cursor: pointer;
        }

        .bubbleContainer {
            &.press {
                border-right: none;
                border-radius: 0px 40px 40px 0px;
            }

            &.all {
                border-radius: 40px 0px 0px 40px;

                &.active .time {
                    z-index: 3;
                }
            }

            &.active {
                background-color: #3162FF;
                color: #ffff;

                .time {
                    display: flex;
                }

                .selectDate {
                    background-color: #fff;
                    color: #3162FF;
                }
            }
        }

        .time {
            display: none;
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            height: 28px;
            border-right: none;
            border-radius: 40px;
        }
    }
}