.cardContainer {
    position: relative;
    height: 530px;
    margin: 18px 0;

    @media screen and (min-width: 1024px) {
        height: auto;
    }

    .bubble {
        position: absolute;
        bottom: 8px;
        right: 8px;
        height: 20px;
        padding: 5px;
    }
}