.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 296px;
    width: 300px;
    padding-top: 24px;
    background-color: rgba(255, 255, 255, 0.7);

    .logo {
        height: 120px;
    }

    .loginForm {
        width: 232px;
        line-height: 2em;
        padding-top: 24px;
    }

    .textInput {
        width: 100%; 
        height: 32px;
        padding: 8px 16px;
        margin-bottom: 12px;
        border: 0;
        border-radius: 12px;
    }

    .submitInput {
        width: 100%;
        height: 32px;
        color: white;
        border-radius: 12px;
        background-color: #004b8d;
        border: 0;
        cursor: pointer;

        &:hover {
            background-color: #5786FF;
        }
    }
}