input.textInput {
    &.loginError {
        font-weight: 600;
        border: 3px solid #ff0000;

        &::-webkit-input-placeholder {
            color: #ff0000;
        }
        &:-moz-placeholder {
            color: #ff0000;
        }
        &::-moz-placeholder {
            color: #ff0000;
        }
        &:-ms-input-placeholder {
            color: #ff0000;
        }

        &:focus-visible {
            outline: none;
        }
    }
}