/* News Feed */
.cta{
  display: block;
  padding: 3px 0;
  text-align: center;
  background: #3a65ff;
  width: 110px;
  margin: 5px auto 0;
  font-size: 14px;
  color: white;
  border-radius: 9px;
}

.Cta:hover,
.openModal:hover {
  cursor: pointer;
}