/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

/* Tag */
p,li {
  font-size: 12px;
  margin-top: 3px;
  line-height: 16px;
}

li{
  list-style: none;
}

p+p{
  margin-top: 9px;
}

select {
  border: none;
}

h1{
  display: none;
}

h2 {
  padding: 9px 0;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #070721;
  text-transform: capitalize;

}

h3 {
  padding-top: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #070721;
  text-transform: capitalize;
}

h4 {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #070721;
  text-transform: capitalize;
  margin-bottom: 5px;
}

main{
  display: flex;
  flex-direction: column;    
  align-items: center;
}

section {
  margin: 9px 0;
}

.bold{
  font-weight: bold;
}

.hide{
  display: none;
}

.pointer {
  cursor: pointer;
  padding-left: 5px;
}

.pointer.add {
  height: 20px;
  transform: translateY(5px);
}

.avatarHeader {
  height: 40px;
  border-radius: 50px;
}

.all{
  font-weight: bold;
  color:#3162FF;
  text-transform: capitalize  ;
}

.potentialConnection h4{
  margin-left: 9px;
  width: calc(100% - 149px);
}

.listArticlesByYears .connectionWrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 9px;

}
.listArticlesByYears .connectionWrapper .avatarContainer {
  padding-right: 9px;
}

.listArticlesByYears .connectionWrapper .avatarContainer .avatar{
  height: 48px;
  border-radius: 16px;
}

.listArticlesByYears .connectionWrapper .txtInfos .mainField{
  margin-top: 0;
}


@media screen and (min-width: 1024px) {
  main{
    flex-direction: row;
    align-items: flex-start;
  }

  .main{
    width: calc(100% - 336px);
  }
  
  .left article h2 {
    text-align: center;
  }


  .listArticlesByYears .connectionWrapper .avatarContainer .avatar{
    height: 60px;
  }
}