/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Tag */
body {
  background-image: url("../img/fond.png");
  font-family: 'Roboto', sans-serif;
}

p,li {
  font-size: 12px;
  margin-top: 3px;
  line-height: 16px;
}

p+p{
  margin-top: 9px;
}

select {
  border: none;
}

h1{
  display: none;
}

h2 {
  padding: 9px 0;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #070721;
  text-transform: capitalize;

}

h3 {
  padding-top: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #070721;
  text-transform: capitalize;
}

h4 {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #070721;
  text-transform: capitalize;
  margin-bottom: 5px;
}

main{
  display: flex;
  flex-direction: column;    
  align-items: center;
}

section {
  margin: 9px 0;
}

.bold{
  font-weight: bold;
}

.hide{
  display: none;
}

.pointer {
  cursor: pointer;
  padding-left: 5px;
}

.pointer.add {
  height: 20px;
  transform: translateY(5px);
}

/* Header */

header {
  display: flex;
  padding: 9px;
}

.imgContainer {
  display: flex;
  align-items: center;
}

.searchContainer{
  width: 60%;
}

.notification{
  width: 40px;
  height: 40px;
  justify-content: center;
}

.notification,.searchContainer{
  display: flex;    
  align-items: center;
  padding: 10px;
  background-color: #ffff;
  border-radius: 20px;
  margin-right: 18px;

}

.searchContainer input{
  margin-left: 9px;
  width: 100%;
  padding: 5px;
  border: none;
}

.searchContainer img{
  height: 20px;
  width: 24px;
}

.avatar img {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 40px;
}

.avatarHeader {
  height: 40px;
  border-radius: 50px;
}

.pageTitle{
  padding: 10px 20px;
  background-color: #ffff;
  border-radius: 20px;
  width: max-content;
  margin: 0 auto 18px;
  color: #3162FF;
}

.main{
  width:90%;
  padding: 0 9px;
}

.side{
  width: 90%;
  padding: 0 9px;
}

.all{
  font-weight: bold;
  color:#3162FF;
  text-transform: capitalize  ;
}

/* Timeline */
.arrow img{
  width: 40px;
}

.timeline .arrow.right{
  transform: rotate(180deg);
}


.timeline{
  position: relative;
  display: flex;
  width: 98%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  background-color: #ffff;
  border-radius: 18px;
}

.timeContainer{
  display: flex;
}

.timeContainer span + span{
  margin-left: 9px;;
}
.timeContainer .slick-current {
  position: relative;
  color: #3a65ff;
  font-weight: bold;
}

.timeContainer .slick-current::before {
  content: "";
  position: absolute;
  top:-26px;
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #3a65ff;
}

.slick-track {
  width: 100% !important;
  transform: translate(0px, 0px) !important;
}

/* mediaContainer */

.mediaContainer{
  margin-right: 18px;    
  background: white;
  border-radius: 20px;
}

.mediaContainer ul{
  display: flex;
  flex-wrap: wrap;    
  flex-direction: column;
  padding:9px 18px 18px;
}

.mediaContainer .year{
  text-align: center;
  margin: 9px;
  color: #3162FF;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}

.mediaContainer li{
  margin: 0 18px;
  text-transform: capitalize;
  padding: 5px 0;
}

/* Peers */

.chatContainer h2{
  display: flex;
  justify-content: space-between;
}

.viewAll{
  padding-right: 9px;
  font-size: 14px;
  color: #3162FF;
  font-weight:normal;
  text-transform: lowercase;
}

/* CHat */
.avatarContainer .avatar {
  height: 48px;
  border-radius: 15px;
}
.left article{
  display: flex;
  padding: 0 18px;
}

.right .chatContainer{
  width: 100%;
}

.chatContainer{
  padding-left: 18px;
  padding-bottom: 18px;
  background: white;
  border-radius: 20px;
}

.messageContainer{
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 33px;
  margin: 9px 0;
}
.messageContainer .txtInfos{
  color: #8E8C99;
  margin: 0 9px;
  width: calc(100% - 95px);
} 

.messageContainer .time{
  position: absolute;
  right: 10px ;
  font-size: 12px;
  color: #8E8C99;
}

.messageContainer .time:before {
  content:"\A";
  width:8px;
  height:8px;
  border-radius:50%;
  background: #44cd45;
  display:inline-block;
}

.potentialConnection h4{
  margin-left: 9px;
  width: calc(100% - 149px);
}

.follow{
  position: absolute;
  right: 9px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 9px;
  width: 95px;
  height: 14px;
  border-radius: 9px;
  background-color: #3162FF;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.follow img{
  width: 20px;
}


@media screen and (min-width: 1024px) {

  h1{
    display: inline-block;
    position: absolute;
    left: 9px;
    top: 18px;
  }

  main{
    flex-direction: row;
    align-items: flex-start;
  }  

  header{
    justify-content: flex-end;
    align-items: center;
  }
  .searchContainer{ 
    width: 150px;
  } 

  .notification, .searchContainer{
    padding: 10px;
    border-radius: 15px;
  }

  .notification{
    width: 30px;
    height: 30px;
  }

  .main{
    width: calc(100% - 336px);
  }
  .side{
    width: 336px;
  }

  .chatContainer, .ranking{
    margin-right: 18px;    
    background: white;
    border-radius: 20px;
  }
  
  .left article h2{
    text-align: center;
  }
  
  .flexContainer{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 600px;
    overflow: auto;
  }

  .mediaContainer {
    width: 47%;
  }
}