/* Tag */
select {
  border: none;
}

h1{
  display: none;
}

h2 {
  padding: 9px 0;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #070721;
  text-transform: capitalize;
}

h3 {
  padding-top: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #070721;
  text-transform: capitalize;
}

h4 {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #070721;
  text-transform: capitalize;
  margin-bottom: 5px;
}

main{
  display: flex;
  flex-direction: column;    
  align-items: center;
}

section {
  margin: 9px 0;
}

.bold{
  font-weight: bold;
}

.hide{
  display: none;
}

.pointer {
  cursor: pointer;
  padding-left: 5px;
}

.pointer.add {
  height: 20px;
  transform: translateY(5px);
}

.avatarHeader {
  height: 40px;
  border-radius: 50px;
}


.all{
  font-weight: bold;
  color:#3162FF;
  text-transform: capitalize  ;
}

/* who */

.people{
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: underline;
  color: #3162FF;
  margin-bottom: 9px;
}

.whoIAm .bold{
  margin-right: 5px;
}


.keyword{
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
}

.keyword li{
  list-style: none;
}


/* mediaContainer */
.containerListsArticles .papers, 
.containerListsArticles .talks,
.containerListsArticles .press {
  height: 660px;
}

.mediaContainer div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mediaContainer .listArticlesByYears {
  flex-direction: column;
  overflow: auto;
  height: 600px;
  justify-content: start;
}

.listArticlesByYears li{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.listArticlesByYears .icon{
  height: 12px;
  width: auto;
  padding-right: 6px;
}

.mediaContainer {
  background: white;
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  .mediaContainer {
    margin-right: 18px;
  }
}

.mediaContainer > div{
  padding-top: 9px;
}

.mediaContainer .bubbleContainer,.mediaContainer .all{
  padding: 9px 18px;
}

.mediaContainer .bubbleContainer span{
  padding: 0 9px;
  font-weight: bolder;
}

.mediaContainer ul{
  display: flex;
  flex-wrap: wrap;    
  flex-direction: column;
  padding:9px 18px 18px;
  width: 85%;
}

.mediaContainer .year{
  margin: 0;
  color: #3162FF;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}

.mediaContainer li{
  margin: 0 18px;
  text-transform: capitalize;
  padding: 5px 0;
}

.bubbleContainer img{
  width: 30px;
}

.mediaContainer .bubbleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* CHat */
.avatarContainer .avatar {
  height: 48px;
  border-radius: 15px;
}
.left article{
  display: flex;
  padding: 0 18px;
}

.potentialConnection h4{
  margin-left: 9px;
  width: calc(100% - 149px);
}

@media screen and (min-width: 1024px) {

  header .logo{
    position: absolute;
    left: 9px;
    height: 60px;
  }

  h1{
    display: inline-block;
    position: absolute;
    left: 9px;
    top: 18px;
  }

  main{
    flex-direction: row;
    align-items: flex-start;
  }  

  header{
    justify-content: flex-end;
    align-items: center;
  }
  
  .left article h2{
    text-align: center;
  }
  
  .flexContainer{
    display: flex;
  }

  .mediaContainer {
    width: 100%;
  }
}