/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(193, 213, 249)),
    color-stop(0.72, rgb(134, 177, 247)),
    color-stop(0.86, rgb(105, 155, 247))
  );
}

/* Tag */
body {
  background-image: url("../img/fond.png");
  font-family: 'Roboto', sans-serif;
}

p,li {
  font-size: 12px;
  margin-top: 3px;
}

select {
  border: none;
}

h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-decoration-line: underline;
  color: #3162FF;
}
h2 {
  padding: 18px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #070721;
  text-transform: capitalize;
}

h3 {
  padding-top: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #070721;
  text-transform: capitalize;
}

h4 {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #070721;
  text-transform: capitalize;
  margin-bottom: 5px;
}

main{
  display: flex;
  flex-direction: column;    
  align-items: center;
}

section {
  margin: 9px 0;
}

.hide{
  display: none;
}

.pointer {
  cursor: pointer;
  padding-left: 5px;
}

.pointer.add {
  height: 20px;
  transform: translateY(5px);
}

/* Header */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 18px;
}

.imgContainer {
  display: flex;
  align-items: center;
}

.notification,.searchContainer{
  display: flex;    
  align-items: center;
  padding: 10px;
  background-color: #ffff;
  border-radius: 20px;
  margin-right: 9px;

}

.searchContainer input{
  margin-left: 9px;
  width: 85px;
  padding: 5px;
}

.searchContainer img{
  height: 24px;
  width: 24px;
}

.avatar img {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 40px;
}

.avatarHeader {
  height: 40px;
  border-radius: 50px;
}

.main{
  width:90%;
  padding: 0 9px;
}

.side{
  width: 90%;
  padding: 0 9px;
}

.all{
  font-weight: bold;
  color:#3162FF;
  text-transform: capitalize  ;
}

/* who */
.infos1,.infos2{
  margin-right: 18px;
  background: white;
  border-radius: 20px;
}

.whoIAm{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
}

.whoIAm div{
  margin-right: 9px;
}

.whoIAm div img{
  display: flex;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.me p, .infos2 p{
  color: #8E8C99;
  font-weight: bold;
  line-height: 15px;
}

.me p span, .infos2 p span{
  color: #070721;
  font-weight: bold;
  margin-right: 5px;
}

.keyword{
  padding: 9px 0;
  display: flex;
  justify-content: space-around;
}

.infos2 .keyword li{
  list-style: none;
}

/* Timeline */
.arrow img{
  width: 40px;
}

.timeline .arrow.right{
  transform: rotate(180deg);
}


.timeline{
  position: relative;
  display: flex;
  width: 98%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  background-color: #ffff;
  border-radius: 18px;
}

.timeContainer{
  display: flex;
}

.timeContainer span + span{
  margin-left: 9px;;
}
.timeContainer .active {
  position: relative;
  color: #3a65ff;
  font-weight: bold;
}

.timeContainer .active::before {
  content: "";
  position: absolute;
  top:-26px;
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #3a65ff;
}

/* mediaContainer */

.mediaContainer{
  margin-right: 18px;    
  background: white;
  border-radius: 20px;
}

.mediaContainer div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mediaConntainer{
  margin-right: 18px;
  background: white;
  border-radius: 20px;
}

.mediaContainer > div{
  padding: 9px;
}

.mediaContainer .BubbleContainer,.mediaContainer .all{
  padding: 9px 18px;
}

.mediaContainer .BubbleContainer span{
  padding: 0 9px;
  font-weight: bolder;
}

.mediaContainer ul{
  display: flex;
  flex-wrap: wrap;    
  flex-direction: column;
  padding:9px 18px 18px;
  margin-left: 40px;
}

.mediaContainer li{
  margin: 0 18px;
  text-transform: capitalize;
  padding: 5px 0;
  font-weight: 700;
}

/* CHat */
.avatarContainer .avatar {
  height: 60px;
  border-radius: 9px;
}
.left article{
  display: flex;
  padding: 0 18px;
}

.right .chatContainer{
  width: 100%;
}

.chatContainer{
  padding-left: 18px;
  padding-bottom: 18px;
}

.messageContainer{
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 33px;
}

.txtInfos{
  margin: 0 9px;
}

.chatContainer, .ranking{
  margin-right: 18px;    
  background: white;
  border-radius: 20px;
}

.left article h2{
  text-align: center;
}

.messages{
  width: 25px;  
  position: absolute;
  right: 5px;
}

@media screen and (min-width: 1024px) {

  main{
    flex-direction: row;
    align-items: flex-start;
  }  

  header{
    justify-content: flex-end;
  }
  .main{
    width: 60%;
  }
  .side{
    width: 38%;
  }

}