/* Reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

aside {
  display: none;
  position: absolute;
  z-index: 122222;
  overflow: auto;
  width: 85%;
  max-width: 90%;
  height: auto;
  resize: both;
  left: 50%;
  top: 50%;
  background: white;
  transform: translate(-50%, -50%);
  border: solid #699bf7 4px;
  border-radius: 9px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

aside h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #699bf7;
  text-transform: capitalize;
}

aside .titleContainer {
  position: relative;
  display: flex;
  width: 100%;
  padding: 9px 0;
  justify-content: center;
  align-items: center;
}

aside .titleContainer .close {
  position: absolute;
  right: 9px;
}

aside .titleContainer h3 {
  padding: 0 9px;
}

aside.billetContainer {
  position: relative;
  margin: 0 9px;
}

aside .infoPersonal {
  width: calc(100vw - 70px);
}

aside .infoPersonal p {
  white-space: break-spaces;
}

aside .avatarbillet {
  position: absolute;
  right: 29px;
  height: 40px;
  top: 9px;
}

aside .poupContainer .billetContainer,
.buddy .billetContainer {
  display: flex;
  height: fit-content;
  align-items: center;
  margin: 9px;
}

aside .poupContainer .avatarbillet,
.buddy .avatarbillet {
  position: initial;
  margin-right: 9px;
}

aside .headlineContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 9px 0;
  margin-bottom: 9px;
}

aside h5{
  margin-top: 18px;
}

aside .Cta{
  width: auto;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: initial;
}

aside .headlineContainer button {
  position: absolute;
  left: 0;
  top: 5px;
}

aside .textContainer p {
  margin-bottom: 9px;
}

aside .btnContainer {
  display: flex;
  justify-content: space-around;
}

aside.active {
  display: inline;
  position: absolute;
  overflow: auto;
  height: 80%;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 3px #699bf7;
  background: #ffff;
  border-radius: 8px;
}

.aside .headlineContainer .newTab{
  font-weight: bold;
  background-color: #699bf7;
  color: #fff;
  padding: 12px;
  border-radius: 9px;
  text-decoration: none;
  margin: 9px 0;
}

.aside .headlineContainer h5{
  color: #699bf7;
  font-weight: bold;
}

.aside .iframeContainer,.aside .iframeContainer iframe{
  min-height: 600px;
}

@media screen and (min-width: 1024px) {
  .aside .headlineContainer {
    flex-direction: row;
  }

}